<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}

<!-- Back to Top Button -->
<div class="back-to-top" id="back-to-top" onclick="scrollToTop()">
    <i class="fa fa-chevron-up"></i>
</div>

<!-- Floating Action Menu -->
<div class="floating-menu" id="floating-menu">
    <div class="floating-menu-toggle" onclick="toggleFloatingMenu()">
        <i class="fa fa-plus"></i>
    </div>
    <div class="floating-menu-items">
        <div class="floating-menu-item" onclick="openSearch()" title="搜索">
            <i class="fa fa-search"></i>
        </div>
        <div class="floating-menu-item" onclick="toggleDarkMode()" title="切换主题">
            <i class="fa fa-moon-o"></i>
        </div>
        <div class="floating-menu-item" onclick="printPage()" title="打印页面">
            <i class="fa fa-print"></i>
        </div>
    </div>
</div>

<!-- Background Switcher will be created dynamically by JavaScript -->

<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" alt="WeChat sharing helper image" title="微信分享优化图片" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
